<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swx.store1.mapper.ProductMapper">

    <select id="selectHotList" resultType="com.swx.store1.entity.Product">
        select *
        from t_product
        where status = 1
        order by priority desc
        limit 0,4
    </select>
</mapper>